[submodule "contrib/lessphp"]
	path = contrib/lessphp
	url = https://github.com/leafo/lessphp.git
[submodule "contrib/font-awesome"]
	path = contrib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "contrib/fancybox"]
	path = contrib/fancybox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "contrib/touchswipe"]
	path = contrib/touchswipe
	url = https://github.com/jinbonetwork/TouchSwipe-Jquery-Plugin.git
[submodule "contrib/imagesloaded"]
	path = contrib/imagesloaded
	url = https://github.com/desandro/imagesloaded.git
