[submodule "contrib/PhotoSwipe"]
	path = contrib/PhotoSwipe
	url = https://github.com/dimsemenov/PhotoSwipe.git
[submodule "contrib/lessphp"]
	path = contrib/lessphp
	url = https://github.com/leafo/lessphp.git
[submodule "contrib/font-awesome"]
	path = contrib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "contrib/fancybox"]
	path = contrib/fancybox
	url = https://github.com/fancyapps/fancyBox.git
